.status {
	color: white;
	padding: 0.5em 1em;
	background: $forbidden-color;
	border-radius: 50em;
	font-size: 0.8em;

	&--free {
		background: $highlight-color;
	}
}

.table {
	&__item {
		background-color: #fff;
		cursor: pointer;
		position: relative;

		&:nth-child(even) {
			background-color: $bg-color;
		}

		&:hover {
			z-index: 10;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		}

		&--rented {
			color: $font-color-light;
		}

		td,
		th {
			padding: 1em 0 1em 2em;
			width: 1px;
			white-space: nowrap;
			text-align: center;

			&.extend {
				width: auto;
				white-space: normal;
				text-align: left;
			}

			&:last-child {
				padding-right: 2em;
			}
		}
	}

	&__header {
		color: darken($font-color, 10%);

		&.rotate {
			.icon {
				transform: rotate(0deg) translateY(2px);
			}
		}

		&.faded {
			.icon {
				fill: #CCC;
				transform: rotate(180deg) !important;
			}
		}

		.icon {
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			margin-left: 5px;
			fill: $font-color;
			transition: 0.2s transform;
			transform: rotate(180deg);
			width: 10px;
			height: 6px;
		}
	}
}
