@import 'variables';
.table {
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  padding: 0 3em;
  box-sizing: border-box;
  color: $font-color;
  &__main {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
}

.sort {
  margin: 1em 0;
  text-align: right;
  &__showing {
    padding: 0.5em 1em;
    float: left;
  }
  select {
    background: $bg-color-light;
    color: $font-color;
    border: 0;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 2px;
    margin: 0 1em;
    display: inline-block;
  }
  input {
    background: $bg-color-light;
    color: $font-color;
    border: 0;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 2px;
    margin: 0;
    width: 20em;
    display: inline-block;
  }
}

.navigate {
  padding: 1em 2em;
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  &__numbers {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
    width: 3em;
  }
  &__btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
    border: 0;
    background-color: $font-color-light;
    color: white;
    font-size: 1.2em;
    padding: 0.25em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color .1s;
    outline: none;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    &--next {
      .icon {
        left: 25% !important;
        transform: rotate(180deg);
      }
    }
    .icon {
      position: relative;
      display: block;
      width: 60%;
      height: 60%;
      left: 15%;
      top: 15%;
      fill: white !important;
    }
    &:hover {
      background-color: $font-color;
    }
    &:disabled {
      cursor: default;
      background-color: lighten($font-color-light, 15%);
      box-shadow: none;
      .icon {
        fill: white !important;
      }
    }
  }
}
